@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}